@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin centerhorizentalVerticall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media Queri /Manager*/
/*
  0-600px           Phone
  600px-900px       Tablet-portarait
  900-1200px        Tablet-landscape
  1200px -1800px    is where our normal styles apply
  1800+:Big Desktop  Big desktop
*/

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}

/* $Breakpoint arguments choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
