.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    // for the <batton> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
    transform: translate(-3px);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translate(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    color: $color-grey-dark;
    background-color: $color-white;
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    color: $color-grey-dark;
    background-color: $color-light-green;
    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white::after {
    background-color: $color-white;
  }

  &--animated {
    animation: moveInBottom 0.4s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
.btn-text {
  &:link,
  &:visited {
    color: $color-light-green;
    padding: 0.3rem;
    display: inline-block;
    text-decoration: none;
    font-size: $default-font-size;
    border-bottom: 1px solid $color-light-green;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-light-green;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-light-green, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-light-green, 0.15);
    transform: translateY(0);
  }
}
