.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include centerhorizentalVerticall;
    width: 75%;
    height: 50rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    display: table;
    overflow: hidden;
    transform: translate(-50% -50%) scale(0.5);
    opacity: 0;
    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33.3333%;
    display: table-cell;

    @include respond(tab-land) {
      display: table-row;
      width: 50%;
    }
  }

  &__right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 50vh;

    &:first-child,
    &:last-child {
      @include respond(tab-land) {
        float: left;
        width: 50%;
      }
    }
  }
  &__text {
    font-size: 1.4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-dark;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    @include respond(tab-port) {
      display: table-row;
      width: 100%;
      text-align: justify;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50% -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      font-size: 3rem;
      color: $color-grey-dark;
      display: inline-block;
      text-decoration: none;
      transition: all 0.3s;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      line-height: 1;
    }
    &:hover {
      color: $color-orangered;
    }
  }
}
