@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  70% {
    transform: translate(10px);
  }
  100% {
    opacity: 1;
    transform: translate(20px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  70% {
    transform: translate(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
