* {
  padding: 0;
  margin: 0;
}

html {
  // This defines what 1rem is.
  font-size: 62.5%; // 1rem is 10px / 16 = 62.5%;

  @include respond(tab-land) {
    //width < 1200px
    font-size: 56.25%; // 1rem is 9px / 16px =  56.25%
  }

  @include respond(tab-port) {
    //width < 900px
    font-size: 50%; // 1rem is 8px /16px = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem is 12px /16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
